# Quick and dirty stuff just for testing

name: Push to test repo

on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        env:
          LAST_COMMIT: ${{ github.event.head_commit.message }}
      - name: Checkout output repo
        uses: actions/checkout@v4
        with:
          repository: TheKodeToad/metabolism-test
          token: ${{ secrets.PAT }}
          path: run
      - uses: pnpm/action-setup@v4
      - run: pnpm install --prod --frozen-lockfile
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: pnpm
          cache-dependency-path: "**/pnpm-lock.yaml"
      - name: Generate
        run: env PINO_LOG_LEVEL=debug pnpm start build | pnpm pino-pretty
      - name: Push
        run: |
          cd run
          git config user.email "gitbot@scrumplex.net"
          git config user.name "PrismAutomata"
          git add .
          git diff-index --quiet HEAD || git commit -m "Automatic update from GitHub actions
          ${{ github.event.head_commit.message }}"
          git push
